<ion-view view-title="{{ 'CDL Degree Programme' | translate }}" >
    <ion-content>
         <div class="list">
           
            <div class="item item-text-wrap">
               <div class="content"><img ng-src="img/6.jpg">
                    <div>
                        <h1>Department of Nursing Science: <span>Admission Requirements</span></h1>
                        <p>Applicants must be registered Nurses by the Nursing and Midwifery Council of Nigeria (RN/RPN/RM/RPHN). Credits in 5 subjects which 
                        include English Language, Mathematics, Physics, Biology and Chemistry is required in not more than 2 sittings. 
                        </p>
                        <p>
                        Candidates will be invited for written entrance examination and oral interview.
                        </p>
                    </div>
                    <div>
                        <h1>Department of Economics: <span>Admission Requirements</span></h1>
                            <div>
                                
                                <h2><i><u>'O' Level Admission (5 Sessions)</u></i></h2>
                                <p>Credits in 5 subjects including English Language, Mathematics, Economics and any 2 from Arts or Social Science subjects. 
                                </p>
                                <p>
                                Candidates must have satisfied the National cut off mark of 180 for UTME.
                                </p>
                            </div>
                            <div>
                                <h2><i><ul>Direct Entry to Part 2 (4 Sessions)</ul></i></h2>
                                <p>5 credit passes in O/L including English Language, Mathematics, Economics. The Advanced Level passes shall include Economics and any one of Mathematics, Statistics, Geography, and Government or OND at not less than an upper credit in Statistics.
                                </p>
                            </div>
                    </div>
                    <div>
                        <h1>Department of Management and Accounting: <span>Admission Requirements</span></h1>
                            <div>
                                
                                <h2><i><ul>'O' Level Admission (5 Sessions)</ul></i></h2>
                                <p>Credits in 5 subjects including English Language, Mathematics, Economics and any 2 from Government, Financial Accounting, Geography, Literature in English and Yoruba is required at not more than 2 sittings.  
                                </p>
                                <p>
                                Candidates must have satisfied the National cut off mark of 180 for UTME.
                                </p>
                            </div>
                            <div>
                                <h2><i><ul>Direct Entry to Part 3 (3 Sessions)</ul></i></h2>
                                <p>HND in Accounting or Business Administration or final stage of ICAN certificate (ACA) and ACCA or Certified Financial Analysis, ACIB, ANAN (plus HND or B.Sc. in any discipline) and HND in Banking and Finance. 5 credit passes in O/L including Mathematics, English and Economics are required.
                                </p>
                            </div>
                    </div>
                </div>
                </br>
                </br>

               <div><p>For more information visit our site: <a href="http://www.oaucdl.edu.ng/home/?q=director" mm-browser>http://www.oaucdl.edu.ng/home/?q=director</a> </p></div>
            </div> 
        </div>
    </ion-content>
</ion-view>
