
<ion-view view-title="{{ 'diploma' | translate }}" >
    <ion-content>
        <div class="list">
            <!-- <section class="item">
                <h2>{{appname}}</h2>
            </section> -->
           <!--  <section class="item item-divider">
                <p>{{ 'mm.settings.license' | translate }}</p>
            </section>
            <div class="item item-text-wrap">
                <h2>Apache 2.0</h2>
                <p><a href="http://www.apache.org/licenses/LICENSE-2.0" mm-browser>http://www.apache.org/licenses/LICENSE-2.0</a></p>
            </div> -->
            <div class="item item-text-wrap"><img ng-src="img/2.jpg">
                <h2><b>Admission into DIPLOMA PROGRAMME</b></h2>
                <p>Applications are hereby invited from suitably qualified candidates for admission into the Pre-Degree Programme for 2015/2016 Session.</p>

                <p>Eligible Candidates must possess minimum of 5 Credits in 5 subjects at a maximum of two sittings including English Language (for ALL Courses), Mathematics (for Science-based and Social Science-based Courses) and Literature-in-English (for Law).</p>

                <p> The programme normally runs for two (2) contact periods both within nine (9) calendar months.</p>
                </br>
                </br>
                

                <p><b>Available Subject Combinations</b></p>
                <table width="85%" border="1" cellpadding="5" cellspacing="1" class="boxaligncenter" style="border-color:#54a2e0;">
                      <tbody><tr bgcolor="#ecb631">
                        <th width="30%"><b>Options/Fields</b></th>
                        <th width="70%"><b>Subject Combinations</b></th>
                      </tr>
                      <tr>
                        <td rowspan="2"><b>Arts</b></td>
                        <td>Government/Literature in English/Religious  Studies <b>(GLR)</b></td>
                      </tr>
                      <tr>
                        <td>Economics/ Government/Literature in English <b>(EGL)</b></td>
                      </tr>
                      <tr bgcolor="#e4f0fa">
                        <td><b>Biological Sciences</b></td>
                        <td>Biology/Chemistry/Physics <b>(BCP)</b></td>
                      </tr>
                      <tr>
                        <td rowspan="2"><b>Physical Sciences</b></td>
                        <td>Chemistry/ Mathematics/ Physics <b>(CMP)</b></td>
                      </tr>
                      <tr>
                        <td>Geography/ Mathematics/ Physics <b>(GMP)</b></td>
                      </tr>
                      <tr bgcolor="#e4f0fa">
                        <td rowspan="2"><b>Social Sciences</b></td>
                        <td>Economics/Government/Mathematics <b>(EGM)</b></td>
                      </tr>
                      <tr bgcolor="#e4f0fa">
                        <td>Mathematics/Geography/Economics <b>(MGE)</b></td>
                      </tr>
                    </tbody>
                </table>

                </br>
                </br>

               <div><p>For more information visit our site: <a href="http://www.oaucdl.edu.ng/pre/mod/resource/view.php?id=67" mm-browser>http://www.oaucdl.edu.ng/pre/mod/resource/view.php?id=67</a> </p></div>
            </div> 
        </div>
    </ion-content>
</ion-view>