<ion-view view-title="{{ 'OAU CDL' | translate }}">
    <mm-split-view>
        <ion-content>
            <ul class="list">
                <!-- <li>
                    <a class="item" mm-split-view-link="site.mm_settings-general" title="{{ 'mm.settings.language' | translate }}">
                        {{ 'mm.settings.language' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_settings-spaceusage" title="{{ 'mm.settings.spaceusage' | translate }}">
                        {{ 'mm.settings.spaceusage' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_settings-synchronization" title="{{ 'mm.settings.synchronization' | translate }}">
                        {{ 'mm.settings.synchronization' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_settings-about" title="{{ 'mm.settings.about' | translate }}">
                        {{ 'mm.settings.about' | translate }}
                    </a>
                </li> -->
                <li>
                    <a class="item" mm-split-view-link="site.mm_settings-home" title="{{ 'Home' | translate }}">
                        {{ 'Home' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_settings-degree" title="{{ 'Degree' | translate }}">
                        {{ 'Degree' | translate }}
                    </a>
                </li>
                
                <li>
                    <a class="item" mm-split-view-link="site.mm_settings-predegree" title="{{ 'PreDegree' | translate }}">
                        {{ 'PreDegree' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-master" title="{{ 'Postgraduate' | translate }}">
                        {{ 'Postgraduate' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-jupeb" title="{{ 'JUPEB' | translate }}">
                        {{ 'JUPEB' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-certificate" title="{{ 'Certificate' | translate }}">
                        {{ 'Certificate' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-diploma" title="{{ 'Diploma' | translate }}">
                        {{ 'Diploma' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-contact" title="{{ 'Contact Us' | translate }}">
                        {{ 'Contact Us' | translate }}
                    </a>
                </li>
                                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-live" title="{{ 'OAUCDL LIVE' | translate }}">
                        {{ 'OAUCDL LIVE' | translate }}
                    </a>
                </li>
                </ul>
        </ion-content>
    </mm-split-view>
</ion-view>