<ion-view view-title="{{ 'mm.settings.synchronization' | translate }}" >
    <ion-content>
         <div class="list">
           
            <div class="item item-text-wrap">
               <div class="content"><img ng-src="img/director.jpg">
                    <p>Welcome to the Centre for Distance Learning of Obafemi Awolowo University, one of Africa's leading Universities. 
                    Our Centre, which was established in August 2002, is charged primarily with providing qualitative tertiary education via the Open and 
                    Distance Learning mode to two categories of Nigerians.</p>
                    </br>
                    <p>
                    The first group are the teeming number of Nigerian youths who possess the requisite qualifications for entry to Nigerian Universities 
                    but are denied admission owing to inadequate facilities on campus. The second group are working class people who are desirous of pursuing 
                    sub-degree and degree (undergraduate and postgraduate) programmes while still retaining their jobs.
                    </p>
                </div>
                </br>
                </br>

               <div><p>For more information visit our site: <a href="http://www.oaucdl.edu.ng/home/?q=director" mm-browser>http://www.oaucdl.edu.ng/home/?q=director</a> </p></div>
            </div> 
        </div>
    </ion-content>
</ion-view>
