<ion-view view-title="{{ 'OAU CDL' | translate }}">
    <mm-split-view>
        <ion-content>
            <ul class="list">
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-home" title="{{ 'Home' | translate }}">
                        {{ 'Home' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-degree" title="{{ 'Degree' | translate }}">
                        {{ 'Degree' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_oaucdl-predegree" title="{{ 'Pre-Degree' | translate }}">
                        {{ 'Pre-Degree' | translate }}
                    </a>
                </li>
               <!--  <li>
                    <a class="item" mm-split-view-link="site.mm_settings-about" title="{{ 'mm.settings.about' | translate }}">
                        {{ 'mm.settings.about' | translate }}
                    </a>
                </li>
                <li>
                    <a class="item" mm-split-view-link="site.mm_settings-home" title="{{ 'home' | translate }}">
                        {{ 'home' | translate }}
                    </a>
                </li> -->
            </ul>
        </ion-content>
    </mm-split-view>
</ion-view>